{% extends 'base.html' %}
{% load static %}
{% block nav %}
    {% if perms.source.add_product %}
        <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'source:create_product' %}">Создание товара</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row my-3">
        {% for product in products %}
            <div class="col-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><a
                                href="{% url "source:product_view" product.pk %}">{{ product.name }}</a></h5>
                        <p class="card-text">Категория: {{ product.get_category_display }}</p>
                        {% if request.user.is_authenticated and perms.webapp.change_product and perms.webapp.delete_product %}
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'source:update_product' product.pk %}">Изменить</a>
                                <a class="btn btn-danger" href="{% url 'source:delete_product' product.pk %}">Удалить</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{#    {% include 'partial/reviews_list_partial.html' %}#}
{% endblock %}
