{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block title %}Подробнее о Продукте{% endblock %}
{% block nav %}
    {% if request.user.is_authenticated and perms.webapp.change_product and perms.webapp.delete_product %}
        <li class="nav-item">
            <a href="{% url 'source:update_product' product.pk %}" class="nav-link text-light">Редактировать продукт</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'source:delete_product' product.pk %}" class="nav-link text-light">Удалить продукт</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="card my-4">
        <div class="card-header">
            <h5 class="card-title">Подробная информация о продукте</h5>
        </div>
        <div class="card-body">
            <p class="card-text"><b class="fs-4">Название: </b>{{ product.name }}</p>
            <p class="card-text"><b class="fs-4">Категория: </b>{{ product.get_category_display }}</p>
            <p class="card-text"><b class="fs-4">Описание: </b>{{ product.description|linebreaksbr }}</p>
            <p class="card-text">Средняя оценка:
                {% if product.get_avg %}
                    {{ product.get_avg|my_float}}
                {% else %}
                    {{ product.get_avg|default:'Нет оценивался' }}
                {% endif %}
            </p>
            {% if request.user.is_authenticated %}
                <p class="card-text"><b class="fs-4">
                    <a href="{% url 'source:create_review' product.pk %}" class="btn btn-primary">Оставить отзыв</a></b>
                </p>
            {% endif %}
            {% if product.picture %}
                <img src="{{ product.picture.url }}" class="card-img-top" style="width: 150px" alt="...">
            {% else %}
                <img src="{% static 'images/static_img.jpg' %}" class="card-img-top" style="width: 700px" alt="...">
            {% endif %}
            {% include 'partial/reviews_list_partial.html' %}
        </div>
    </div>
{% endblock %}
