<h1>Отзывы</h1>
{% for review in reviews %}
    <div class="card mt-4">
        <div class="card-header">
            {{ review.author.username }}
        </div>
        <div class="card-body">
            <p class="card-text"><b>Описание: </b><br>{{ review.text }}</p>
            <p class="card-text"><b>Оценка: </b><br>{{ review.mark }}</p>
            <p class="card-text"><b>Email:</b><br>{{ review.author.email|default:'Нет' }}</p>
            {% if review.author == request.user or perms.source.change_review %}
                <p><a href="{% url 'source:update_review' review.pk %}">Редактировать отзыв</a></p>
            {% endif %}
            {% if review.author == request.user or perms.source.delete_review %}
                <p><a href="{% url 'source:delete_review' review.pk %}">Удалить отзыв</a></p>
            {% endif %}
        </div>
    </div>
{% empty %}
    <h3>Нет отзывов</h3>
{% endfor %}